.navActive {
    background-color: rgba(240, 233, 233, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.navActive a{
    padding: 20px;
}

.active{
    font-weight: bold;
    color: darkblue;
}


.navActive a:hover{
    text-decoration: underline;
    color: darkblue; 
}

.fa-bars {
    color: deeppink;
    cursor: pointer;
}